<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Name: <span class="name"><%= user.name %></span></p>

  <p>Countdown: <span class="countdown"><%= user.countdown %></span></p>

  <div class="field">
    <%= form.check_box :active, id: :user_active, 'data-toggle': 'toggle' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('#user_active').bootstrapToggle();
    setInterval(function(){
      fetch('<%= "/users/#{user.id}.json" %>').then(function(response){
        return response.json();
      }).then(function(j){
          $('span[class=countdown]').text(j.countdown);
      });
    }, 10000);
  });
</script>