<p id="notice"><%= notice %></p>

<div id="mothership" class="alert alert-danger" role="alert" hidden>Oops.  We've lost connection to the mothership.  Information on this page may be incorrect.  Try reloading the page.  If that doesn't solve the problem, call Dad.</div>
<div id="info_messages" class="alert alert-danger" role="alert" ><ul></ul></div>

<h1>Internet Access</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Minutes Remaining</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <td><%= user.name %></td>
        <td id='<%= "user#{user.id}-countdown" %>'>calculating...</td>
        <td id='<%= "user#{user.id}-status-td" %>'><div id="disabled-note" hidden>Disabled</div><input id='<%= "user#{user.id}-status" %>'
                   class='user-status'
                   <%= user.active ? 'checked' : '' %>
                   data-toggle="toggle"
                   data-userid='<%= user.id %>'
                   type="checkbox"></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<script>
  $(document).ready(function () {
    $('input.user-status').bootstrapToggle();

    var toggleUserActive = function () {
      $(this).bootstrapToggle('disable');
      var checked = $(this).is(':checked');
      $.ajax({
        context: this,
        type: 'POST', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
        dataType: 'json', // Set datatype - affects Accept header
        url: '/users/' + $(this).attr('data-userid') + '.json', // A valid URL
        headers: {"X-HTTP-Method-Override": "PUT"}, // X-HTTP-Method-Override set to PUT.
        data: {user: {active: checked}}, // Some data e.g. Valid JSON as a string
        success: function () {
          if (checked) {
            toastr.success('Internet successfully enabled.');
          } else {
            toastr.info('Internet successfully disabled.');
          }
        },
        error: function () {
          toastr.error('Unable to ' + (checked ? 'enable' : 'disable') + ' internet.');
          // revert the slide toggle without triggering a change event
          $(this).prop('checked', !checked);
          $(this).parent().toggleClass('off');
          $(this).parent().toggleClass('btn-primary');
          $(this).parent().toggleClass('btn-default');
        },
        complete: function () {
          $(this).bootstrapToggle('enable');
        }
      });
    };
    $('.user-status').change(toggleUserActive);

    var setToggleState = function ($toggleElem, newState) {
      // Update the state of a slide toggle without triggering a change event
      $toggleElem.prop('checked', newState);
      if (newState) {
        $toggleElem.parent().removeClass('off');
        $toggleElem.parent().addClass('btn-primary');
        $toggleElem.parent().removeClass('btn-default');
      } else {
        $toggleElem.parent().addClass('off');
        $toggleElem.parent().removeClass('btn-primary');
        $toggleElem.parent().addClass('btn-default');
      }
    };

    var fetchLatestUserInfo = function () {
      $.get('/info_messages.json', function(info_messages){
        var $infoMessages = $('#info_messages');
        if (info_messages.length > 0){
          $infoMessages.show();
          var $infoUl = $('<ul>');
          info_messages.forEach(function (info_message){
            $infoUl.append($('<li>' + info_message.text + '</li>'));
          });
          $infoMessages.find('ul').replaceWith($infoUl);
        } else {
          $infoMessages.hide();
        }
      });

      $.get('/users.json', function (users) {
        $('#mothership').hide();
        users.forEach(function (user) {
          var $user = $('tr[data-user-id=' + user.id + ']');
          if (user.countdown > 0 && user.countdown < 60) {
            $user.find('#user' + user.id + '-countdown').text('less than one');
          } else {
            $user.find('#user' + user.id + '-countdown').text((user.countdown / 60).toFixed(0));
          }
          var $status = $user.find('#user' + user.id + '-status');
          setToggleState($status, user.active);
          $status.bootstrapToggle(user.countdown > 0 ? 'enable' : 'disable');
          var $statusTd = $user.find('#user' + user.id + '-status-td');
          if (user.disabled && !user.active){
            $user.addClass('red-text');
            $statusTd.children('div.toggle').hide();
            $statusTd.children('div#disabled-note').show();
          }else{
            $user.removeClass('red-text');
            $statusTd.children('div.toggle').show();
            $statusTd.children('div#disabled-note').hide();
          }
        });
      }).fail(function(){
        $('#mothership').show();
      });
    };

    fetchLatestUserInfo();
    var USER_FETCH_INTERVAL = 10000;
    setInterval(fetchLatestUserInfo, USER_FETCH_INTERVAL);
  });
</script>