<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Countdown</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <td><%= user.name %></td>
        <td class="user-active"><%= user.active %></td>
        <td class="user-countdown"><%= user.countdown %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(document).ready(function(){
    setInterval(function(){
      fetch('/users.json').then(function(response){
        return response.json();
      }).then(function(j){
        j.forEach(function(user){
          var $user = $('tr[data-user-id=' + user.id + ']');
          $user.find('td[class=user-active]').text(user.active);
          $user.find('td[class=user-countdown]').text(user.countdown);
        });
      });
    }, 10000);
  });
</script>