<p id="notice"><%= notice %></p>

<h1>Info Messages</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_messages.each do |info_message| %>
      <tr>
        <td><%= info_message.text %></td>
        <td><%= link_to 'Show', info_message %></td>
        <td><%= link_to 'Edit', edit_info_message_path(info_message) %></td>
        <td><%= link_to 'Destroy', info_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info Message', new_info_message_path %>
